body {}

.surf {
    border-bottom: 2px solid black;
    height: 80vh;
}

.main {
    margin: auto;
}

.selectt {
    display: inline;
}

p {
    display: inline;
}

.startt,
.restartt {
    margin: 10px;
}

.nodesin,
.edgesin {
    background-color: white !important;
}

input {
    background-color: white !important;
}

.addbtn {
    width: auto;
    font-size: 25px;
}

.edgee {
    font: 100;
}