body {}

.surf {
    border-bottom: 2px solid #feb236;
    height: 80vh;
}

.main {
    margin: auto;
}

.selectt {
    display: inline;
}

p {
    display: inline;
}

.startt,
.restartt {
    margin: 10px;
}

.nodesin,
.edgesin {
    background-color: white !important;
}

input {
    background-color: white !important;
}

.v1,
.v2 {
    padding: 0px !important;
    margin: 0px !important;
    height: 1.8rem !important;
}

.addbtn {
    width: auto;
    font-size: 25px;
}

label {
    color: brown;
    font-size: 80%;
}

.edgee {
    margin-top: 1px !important;
}