body
{
    
    font-size: 40px;
}
.surf
{
    
    border-bottom: 2px solid black;
    height: 80vh;
}
.main
{
    margin: auto;
    height: 70vh;
}
.selectt
{
    display: inline;
   

}
span
{
    
    font-size: 50px !important;
}
p{
    display: inline;
}
.startt,.restartt
{
    margin: 10px;
}

{

}